

.home{
    background-image:
    linear-gradient(to bottom, rgba(49, 200, 208, 0.97),rgba(38, 192, 189, 0.97)),
     url('../../assets/images/fondo1.jpg');
     display: block;
     background-size:cover;
}