.message{
    background-color: transparent;
    width: 350px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 30%;
    //padding: 15px 30px 30px 15px;
    
  
   
    
}
